Multiple HLS subtitle problems

**Browser**: Chrome Version 88.0.4324.190 (Official Build) (64-bit)

**OS**: Windows 10 20H2

**Clappr Version**: 0.4.3

**Steps to reproduce**:

When playing HLS with subtitles defined in the master playlist, there are many problems related to the subtitles.

### EXAMPLE 1. CC button missing.

The CC button will only appear in the player if your HLS master playlist includes the optional attribute `DEFAULT=YES` in at least one of the subtitles' `EXT-X-MEDIA` tags.

Given the following, the CC button will NOT appear and subtitles are NOT played.

```
#EXTM3U

#EXT-X-MEDIA:TYPE=AUDIO,URI="audio_en_128k.m3u8",GROUP-ID="audio_en_128k",LANGUAGE="en",NAME="English",DEFAULT=YES,AUTOSELECT=YES,CHANNELS="2"

#EXT-X-MEDIA:TYPE=SUBTITLES,URI="en_sub.m3u8",GROUP-ID="text",LANGUAGE="en",NAME="English"

#EXT-X-STREAM-INF:BANDWIDTH=505513,AVERAGE-BANDWIDTH=503321,CODECS="avc1.42c01e,mp4a.40.2",RESOLUTION=640x360,FRAME-RATE=30.000,AUDIO="audio_en_128k",SUBTITLES="text"
360p.m3u8

#EXT-X-I-FRAME-STREAM-INF:BANDWIDTH=25522,AVERAGE-BANDWIDTH=27589,CODECS="avc1.42c01e",RESOLUTION=640x360,FRAME-RATE=30.000,URI="360p_iframe.m3u8"

```

If you add the `DEFAULT=YES` attribute, then the CC button appears.  Its intial state is `Disabled`, but `English` is a selectable language.

```
#EXT-X-MEDIA:TYPE=SUBTITLES,URI="en_sub.m3u8",GROUP-ID="text",LANGUAGE="en",NAME="English",DEFAULT=YES
```

### EXAMPLE 2. Two subtitle languages causes bad player state.

In this example, we add the `DEFAULT=YES` attribute to the first subtitle tag in order to make the CC button appear.

```
#EXT-X-MEDIA:TYPE=SUBTITLES,URI="en_sub.m3u8",GROUP-ID="text",LANGUAGE="en",NAME="English",DEFAULT=YES
#EXT-X-MEDIA:TYPE=SUBTITLES,URI="es_sub.m3u8",GROUP-ID="text",LANGUAGE="es",NAME="Español"
```

Unfortunately in this configuration, Spanish subtitles begin playing automatically, despite that not being indicated in the playlist.  The CC button is gray (not white to indicate it is Active), and if you open the CC menu, the selected item is `Disabled`.  My PC's region is definitely not Spanish.  Yet Spanish subtitles are playing.

![image](https://user-images.githubusercontent.com/5639911/110659617-f8cdd200-817f-11eb-8f24-6e9ebe5ec4f1.png)

In this bad state, if I attempt to select `Español` from the CC menu, the operation silently fails and `Disabled` remains selected. Spanish subtitles continue playing.

The CC menu mostly works, but trying to change from English to Disabled puts it back into the same bad state which it loaded in.  Here's a table showing what happens when trying to change states using the CC menu.

| Initial State | Target State | Effect       |
|----------|----------|--------------|
| `Disabled` | `English`  | ✔ English subs |
| `Disabled` | `Español`  | ✔ Spanish subs |
| `Disabled` but playing Spanish anyway | `Español`  | ❌ `Disabled` remains selected |
| `English`  | `Disabled` | ❌ `Disabled` selected but playing Spanish anyway |
| `Español`  | `Disabled` | ✔ No subs      |
| `English`  | `Español`  | ✔ Spanish subs |
| `Español`  | `English`  | ✔ English subs |

If I add a `DEFAULT=YES` attribute to the spanish subtitle line too, then I get the same result as above.  No apparent difference.

```
#EXT-X-MEDIA:TYPE=SUBTITLES,URI="en_sub.m3u8",GROUP-ID="text",LANGUAGE="en",NAME="English",DEFAULT=YES
#EXT-X-MEDIA:TYPE=SUBTITLES,URI="es_sub.m3u8",GROUP-ID="text",LANGUAGE="es",NAME="Español",DEFAULT=YES
```

If I delete the `DEFAULT=YES` attribute from the english line, leaving it only on the spanish line, then I get the same result as above except that the player does not start in a bad state; no subtitles are shown until chosen via the CC menu.  I can still trigger the bad state by switching to English subtitles and then to Disabled subtitles, at which point Spanish subtitles play even with the CC menu showing Disabled.

```
#EXT-X-MEDIA:TYPE=SUBTITLES,URI="en_sub.m3u8",GROUP-ID="text",LANGUAGE="en",NAME="English"
#EXT-X-MEDIA:TYPE=SUBTITLES,URI="es_sub.m3u8",GROUP-ID="text",LANGUAGE="es",NAME="Español",DEFAULT=YES
```

### EXAMPLE 3. `EXT-X-MEDIA` tag's `DEFAULT`, `AUTOSELECT`, `FORCED` attributes not properly handled.

[RFC 8216 Section 4.3.4.1](https://tools.ietf.org/html/rfc8216#section-4.3.4.1) describes the intended behavior of `DEFAULT`, `AUTOSELECT`, and `FORCED` attributes on a `EXT-X-MEDIA` tag.

`DEFAULT` is clearly being handled incorrectly as of Clappr 0.4.3.  I suggest that `DEFAULT=YES` should cause the particular subtitle track to be automatically selected in the CC menu.

`AUTOSELECT` appears to be ignored entirely.

`FORCED` appears to be ignored entirely.  To me, it seems that the desired behavior would be:
* If `FORCED=YES` attribute is present on any  `#EXT-X-MEDIA` with `TYPE=SUBTITLES`, then that subtitle's name in the CC menu should include a suffix " (forced)" and that subtitle track should be automatically activated.
* If `FORCED=YES` attributes are present on **two or more** `#EXT-X-MEDIA` with `TYPE=SUBTITLES`, then each of them should have the " (forced)" suffix and one of them should be automatically activated.  Selection of the most appropriate forced track may be based on the device's region settings and/or the presence of `DEFAULT=YES` or `AUTOSELECT=YES` attributes on the `#EXT-X-MEDIA` tags.

I did try to set up examples on http://clappr.io/demo/ but I lack suitable hosting with CORS support.

Here's a trivial video sample with english and spanish subtitles that can be used to reproduce the problem.

[TestPattern-min.zip](https://github.com/clappr/clappr/files/6131780/TestPattern-min.zip)


Someone thought it would be a good idea to set the current subtitle track to one of the hidden tracks, right here in hls.js:
 
https://github.com/video-dev/hls.js/blob/5275331ce1b8fb56a5f2032027650a2621a89ab0/src/controller/subtitle-track-controller.js#L240

And that is what is causing my example to show spanish subtitles when it shouldn't be.  I haven't figured out yet what the purpose of that code is, or why it doesn't literally always enable my spanish subtitles when no other track is in `mode === 'showing'`.   Related: https://github.com/video-dev/hls.js/issues/1645



Okay, so I think I can fully explain the problem I identified with EXAMPLE 2 in my original issue report.

When I choose `Disabled` in the cc menu, Clappr sets all [TextTrack.mode](https://developer.mozilla.org/en-US/docs/Web/API/TextTrack/mode) properties to `hidden`, and doesn't set any to `showing`.  HLS.js [listens to the TextTrackList.change event](https://github.com/video-dev/hls.js/blob/5275331ce1b8fb56a5f2032027650a2621a89ab0/src/controller/subtitle-track-controller.js#L221) and for reasons that escape me, decides to set the active subtitle track to the last `hidden` text track.  This is what caused my spanish subtitle track to keep showing when it should have been hidden.

Anyway, hls.js exposes a [Subtitle Tracks Control API](https://github.com/video-dev/hls.js/blob/master/docs/API.md#subtitle-tracks-control-api) which can be used to solve this problem.   If `hls.subtitleDisplay` gets set `true` or `false`  as appropriate before changing TextTrack modes, then hls.js will not arbitrarily show the last hidden text track, and the video player behaves correctly.

This can be achieved in a very hacky manner by putting the line

```js
this._hls && (this._hls.subtitleDisplay = !!showingTrack)
```

into the closedCaptionsTrackId property setter in Clappr's html5_video Playback, somewhere around here: 
 https://github.com/clappr/clappr-core/blob/7eeb06529d13a26a28407132164eacd440851696/src/playbacks/html5_video/html5_video.js#L637

The proper way to fix this would be to do it in [Clappr's hlsjs playback](https://github.com/clappr/hlsjs-playback/blob/master/src/hls.js) but I think that is going to require overriding the closedCaptionsTrackId property.

I've fixed all these issues locally and am creating pull requests now.

These PRs fix the issues I reported here.

https://github.com/clappr/hlsjs-playback/pull/18
https://github.com/clappr/clappr-plugins/pull/29

Hi @bp2008!
Thanks for the deep analysis and the contribution /õ/
Just so you don't run out of status: I'm going to read and review your PR's when having some time 😅